th {
    padding-right: 3em;
}

.gaveup {
    border: 1px solid black;
    padding-top: 0.7ex;
    padding-bottom: 0.7ex;
    padding-left: 0.7em;
    background-color: #eeeeff;
}

.close {
    text-align: left;
}

/*"Unusual word found!  This word is not in the list of \"normal\" words that we use for the top-1000 list, but it is still similar!";*/

.weirdWord {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.weirdWord .tooltiptext {
 visibility: hidden;
  width: 20em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.3ex 0;
  border-radius: 1ex;

  position: absolute;
  z-index: 1;
}


.weirdWord:hover .tooltiptext {
  visibility: visible;
}
